# Models (Large files)
app/models/sam3/*.safetensors
app/models/sam3/*.pt
app/models/sam3/*.safetensors
app/models/sam3/*.pt
!*.part*
!*.onnx_data
app/models.zip
app/models/sam3/model.safetensors
app/models/sam3/sam3.pt
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_bnb4.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_fp16.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_int8.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_q4.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_quantized.onnx_data
app/models/sam3/Sam-tracker-onnx/ONNX/vision_encoder_uint8.onnx_data

# Environment
app/env/
env/
node_modules/
__pycache__/
*.pyc

# Logs & Cache
logs/
cache/

# Large model files
app/models/sam3/sam3.pt
app/models/sam3/model.safetensors
app/models.zip